body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-family: Arial, sans-serif;
    background: url("../pictures/indexhatter.png") no-repeat center center fixed;
    background-size: cover;
}

h1 {
    color: black;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 24px;

}

.main-box {
    border: 2px solid #000;
    background: #E0D1A2;
    border-radius: 16px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.2);
    padding: 40px 32px;
    min-width: 520px;
    max-width: 600px;
    font-style: italic;
}